<div class="container">

    <div class="row ">
       <div class="col-3 m-2 ">
           <a class="btn btn-lg btn-group-toggle btn-secondary form-control" routerLink='formEvent'>FormEvent</a>
       </div>
       
       <div class="col-3 m-2">
           <a class="btn btn-lg btn-group-toggle btn-secondary form-control" routerLink='interval'>Interver</a>
       </div>
       <div class="col-3 m-2 ">
           <a class="btn btn-lg btn-group-toggle btn-secondary form-control" routerLink='to-array'>To-Array</a>
       </div>
       <div class="col-3 m-2">
           <a class="btn btn-lg btn-group-toggle btn-secondary form-control" routerLink='map'>Map</a>
       </div>
       
       <div class="col-3 m-2 ">
           <a class="btn btn-lg btn-group-toggle btn-secondary form-control" routerLink='filter'>Filter</a>
       </div>
       <div class="col-3 m-2 ">
           <a class="btn btn-lg btn-group-toggle btn-secondary form-control" routerLink='/observable'>Custom observable</a>
       </div>
       <div class="col-3 m-2 ">
           <a class="btn btn-lg btn-group-toggle btn-secondary form-control" routerLink='take'>Take</a>
       </div>
       <div class="col-3 m-2 " >
           <a class="btn btn-lg btn-group-toggle btn-secondary form-control" routerLink='retry'>Retry</a>
       </div>
       <div class="col-3 m-2 " >
           <a class="btn btn-lg btn-group-toggle btn-secondary form-control" routerLink='debounce'>DebounceTime</a>
       </div>
       <div class="col-3 m-2 mt-5" >
           <a class="btn btn-lg btn-group-toggle btn-secondary form-control" routerLink='/subject'>Subject in Rxjs</a>
       </div>
       <div class="col-3 m-2 mt-5" >
           <a class="btn btn-lg btn-group-toggle btn-secondary form-control" routerLink='/subject/replay-subject'> Replay Subject</a>
       </div>
       <div class="col-3 m-2 mt-5" >
           <a class="btn btn-lg btn-group-toggle btn-secondary form-control" routerLink='/subject/async-subject'> async Subject</a>
       </div>
       <div class="col-3 m-2 ">
           <a class="btn btn-lg btn-group-toggle btn-secondary form-control" routerLink='concat'> Concat</a>
       </div>
       <div class="col-3 m-2 " >
           <a class="btn btn-lg btn-group-toggle btn-secondary form-control" routerLink='merge'> Merge</a>
       </div>
       <div class="col-3 m-2 " >
           <a class="btn btn-lg btn-group-toggle btn-secondary form-control" routerLink='merge-map'> MergeMap </a>
       </div>
       <div class="col-3 m-2 " >
           <a class="btn btn-lg btn-group-toggle btn-secondary form-control" routerLink='concat-map'> ConcatMap </a>
       </div>
       <div class="col-3 m-2 " >
           <a class="btn btn-lg btn-group-toggle btn-secondary form-control" routerLink='switch-map'> SwitchMap </a>
       </div>
       <div class="col-3 m-2 " >
           <a class="btn btn-lg btn-group-toggle btn-secondary form-control" routerLink='search'> Search Example </a>
       </div>
       <div class="col-3 m-2 " >
           <a class="btn btn-lg btn-group-toggle btn-secondary form-control" routerLink='sharereplay'> ShareReplay Example </a>
       </div>
       <div class="col-3 m-2 " >
           <a class="btn btn-lg btn-group-toggle btn-secondary form-control" routerLink='zip'> Zip Operator </a>
       </div>
       <div class="col-3 m-2 " >
        <a class="btn btn-lg btn-group-toggle btn-secondary form-control" routerLink='forkjoin'> forkjoin Operator </a>
    </div>
    </div>
   </div>