<div class="container">
    <strong>ConcatMap Operator Example </strong><span> ( This is for observable in observable ) </span>
    <div class="row m-5">

            

                <div class="card col">
                    <div class="card-header"> Ex 1 Map </div>
                <div class="card-body">
                    <ul id="elmcont"></ul>
                </div>
                </div>
            

                <div class="card col offset-1">
                    <div class="card-header">Ex 2 Map + concatAll  </div>
                <div class="card-body">
                    <ul id="elmcont1"></ul>
                </div>
                </div>

                <div class="card col offset-1 ">
                    <div class="card-header">Ex 3 concatMap</div>
                <div class="card-body">
                    <ul id="elmcont2"></ul>
                </div>
            </div>

    </div>
   
</div>