<div class="container">
    <h4>Form Event</h4>
    <div class=" row">
        <div class="card col-3">
            <div class=" card-header">Add data </div>
            <div class="card-body">
                <button #addbtn class="btn btn-primary">add</button>
            </div>
    
        </div>
        <div class="card col-4 offset-1">
            <div class=" card-header">List </div>
            <div class="card-body">
                <ul id="elmcont">
                    
                </ul>
            </div>
    
        </div>
        <div class="card col-3 offset-1">
            <div class=" card-header">List </div>
            <div class="card-body">
                <ul id="elmcont1">
                    
                </ul>
            </div>
    
        </div>
    </div>
</div>