<div class="container">

 <div class="row ">
    <div class="col-3 m-2 ">
        <a class="btn btn-lg btn-group-toggle btn-secondary btn-block" routerLink='/observable/formEvent'>FormEvent</a>
    </div>
    
    <div class="col-3 m-2">
        <a class="btn btn-lg btn-group-toggle btn-secondary btn-block" routerLink='/observable/interval'>Interver</a>
    </div>
    <div class="col-3 m-2 ">
        <a class="btn btn-lg btn-group-toggle btn-secondary btn-block" routerLink='/observable/to-array'>To-Array</a>
    </div>
    <div class="col-3 m-2">
        <a class="btn btn-lg btn-group-toggle btn-secondary btn-block" routerLink='/observable/map'>Map</a>
    </div>
    
    <div class="col-3 m-2 ">
        <a class="btn btn-lg btn-group-toggle btn-secondary btn-block" routerLink='/observable/filter'>Filter</a>
    </div>
    <div class="col-3 m-2 ">
        <a class="btn btn-lg btn-group-toggle btn-secondary btn-block" routerLink='/observable/Custom'>C_observ</a>
    </div>
    <div class="col-3 m-2 ">
        <a class="btn btn-lg btn-group-toggle btn-secondary btn-block" routerLink='/observable/take'>Take</a>
    </div>
    <div class="col-3 m-2 " >
        <a class="btn btn-lg btn-group-toggle btn-secondary btn-block" routerLink='/observable/retry'>Retry</a>
    </div>
    <div class="col-3 m-2 " >
        <a class="btn btn-lg btn-group-toggle btn-secondary btn-block" routerLink='/observable/debounce'>DebounceTime</a>
    </div>
    <div class="col-3 m-2 mt-5" >
        <a class="btn btn-lg btn-group-toggle btn-secondary btn-block" routerLink='/observable/subject'>Subject in Rxjs</a>
    </div>
    <div class="col-3 m-2 mt-5" >
        <a class="btn btn-lg btn-group-toggle btn-secondary btn-block" routerLink='/observable/replay-subject'> Replay Subject</a>
    </div>
    <div class="col-3 m-2 mt-5" >
        <a class="btn btn-lg btn-group-toggle btn-secondary btn-block" routerLink='/observable/async-subject'> async Subject</a>
    </div>
    <div class="col-3 m-2 ">
        <a class="btn btn-lg btn-group-toggle btn-secondary btn-block" routerLink='/observable/concat'> Concat</a>
    </div>
    <div class="col-3 m-2 " >
        <a class="btn btn-lg btn-group-toggle btn-secondary btn-block" routerLink='/observable/merge'> Merge</a>
    </div>
    <div class="col-3 m-2 " >
        <a class="btn btn-lg btn-group-toggle btn-secondary btn-block" routerLink='/observable/merge-map'> MergeMap </a>
    </div>
    <div class="col-3 m-2 " >
        <a class="btn btn-lg btn-group-toggle btn-secondary btn-block" routerLink='/observable/concat-map'> ConcatMap </a>
    </div>
    <div class="col-3 m-2 " >
        <a class="btn btn-lg btn-group-toggle btn-secondary btn-block" routerLink='/observable/switch-map'> SwitchMap </a>
    </div>
    <div class="col-3 m-2 " >
        <a class="btn btn-lg btn-group-toggle btn-secondary btn-block" routerLink='/observable/search'> Search Example </a>
    </div>
    <div class="col-3 m-2 " >
        <a class="btn btn-lg btn-group-toggle btn-secondary btn-block" routerLink='/observable/sharereplay'> ShareReplay Example </a>
    </div>
    <div class="col-3 m-2 " >
        <a class="btn btn-lg btn-group-toggle btn-secondary btn-block" routerLink='/observable/zip'> Zip Operator </a>
    </div>
 </div>
</div>