<div class="container">
    <h4>interval</h4>
    <div class=" row">
        
        <div class="card col-3">
            <div class=" card-header">User1 </div>
            <div class="card-body">
                <ul id="elmcont">
                    
                </ul>
            </div>
    
        </div>
        <div class="card col-3 offset-1">
            <div class=" card-header">User2 </div>
            <div class="card-body">
                <ul id="elmcont1">
                    
                </ul>
            </div>
    
        </div>
        <div class="card col-3 offset-1">
            <div class=" card-header">User3</div>
            <div class="card-body">
                <ul id="elmcont2"></ul>
            </div>
    
        </div>
    </div>
</div>