<div class="mt-4 mb-4 bg-danger" >
    <nav style="background-color: lightblue;"  class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" >Welcome</a>
        <span  *ngIf="exclusive" class="badge text-danger">Exclusive</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" routerLink = "/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink = "/observable">observable</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" routerLink = "/forms">Forms</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" routerLink = "/pipes">Pipes</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" routerLink = "/looks">Look Cycle</a>
            </li>
          </ul>
        </div>
      </nav>
</div>