<div class="container">
    <h4>Subject and Behavior Subject</h4>
<hr>
    <div class="mt-4">
        <p><strong>UserName : </strong> <span class="text-primary">{{username}}</span></p>
    </div>
<hr>
    <div class="row">

        <div class="col-md-4">
            <app-comp1></app-comp1>
        </div>
        <div class="col-md-4">
            <app-comp2></app-comp2>
        </div>
        <div class="col-md-4">
            <app-comp3></app-comp3>
        </div>
        
    </div>
    <div class="mt-5">

        <p>Note :- We can Also do this By Simply Declaring  Variable In Service And perform Action on it </p>
    </div>
</div>