<div class="row">
    <div class="col-md-3">
        <div>
            <h4>{{'example of pipes'|titlecase}}</h4>
            <p>factorial of {{NumberOf}} is => {{ NumberOf | factorial }}</p>
          </div>
    </div>
    <div class="col-md-3">
        <button class="btn btn-secondary form-control" (click)="changenumber(8)">Change number </button>
        <div>
            <h4>{{'custem Pipes'|titlecase}}</h4>
            <p>factorial of {{NumberOf}} is => {{ NumberOf | factorial }}</p>
          </div>
    </div>
    <div class="col-md-3">
        <button class="btn btn-secondary form-control" (click)="changeUser()">Change number </button>
        <div>
            <h4>{{'pure Pipes'|titlecase}}</h4>
            <p>user {{user}} is => {{ user | typesOfPipes }}</p>
          </div>
    </div>
</div>
