<div class="container">
    <h4>Take , TakeLast and TakeUntil</h4><br>
    <div class=" row">
        
        <div class="card col-3">
            <div class=" card-header">it will show first 3 </div>
            <div class="card-body">
                <ul id="elmcont">
                    
                </ul>
            </div>
    
        </div>
        <div class="card col-3 offset-1">
            <div class=" card-header">it will show last 3  </div>
            <div class="card-body">
                <ul id="elmcont1">
                    
                </ul>
            </div>
    
        </div>
        <div class="card col-3 offset-1">
            <div class=" card-header">Click any where to stop it</div>
            <div class="card-body">
                <ul id="elmcont2"></ul>
            </div>
    
        </div>
    </div>
</div>