<div>
    <h4 class="my-3">{{'type Of Forms'|uppercase}} </h4>

    <div class="col-md-5">

       <div class="row">
        <div class="col-md-5"> 
            <button routerLink="reactive" class="btn btn-secondary">Reactive Driven Form</button>
        </div>
        <div class="col-md-5"> 
            <button  routerLink="template"  class="btn btn-warning">Teamplate Driven Form</button>
        </div>
       </div>

    </div>
</div>

<div class="m-3">
    <router-outlet></router-outlet>
</div>